
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/NGo-Backend.iml
.idea/modules.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/workspace.xml
ngo-crawling/config.py
ngo-crawling/__pycache__/*
ngo-crawling/chromedriver
ngo-crawling/test.py
ngo-crawling/Dockerfile
